
.row_1 {
    padding-top:20px;
    font-size:20px;
    text-align:center;
}

.row_1 > div {
    padding:9.5px;
}

.cf1 {
    height:625px; 
    opacity:1; 
    /* background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)); */
    color:white;
    /* position:fixed; */
}

.cf1::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 625px;
    background-color: black;
    opacity: 0.7;
    z-index: -1;
  }

.navMain {
    z-index:3;
    height:75px;
    position:sticky;
    top:0px;
    box-shadow:
    0px 3.5px 2.2px rgba(0, 0, 0, 0),
    0px 8.3px 5.3px rgba(0, 0, 0, 0.003),
    0px 15.7px 10px rgba(0, 0, 0, 0.008),
    0px 27.9px 17.9px rgba(0, 0, 0, 0.017),
    0px 52.2px 33.4px rgba(0, 0, 0, 0.035),
    0px 125px 80px rgba(0, 0, 0, 0.07);
    
}

.navListParent {
    display:flex;
    width:100%;
    justify-content:center;
}

.navList {
    margin-right:70px;
    margin-left:70px;
}

.nav-item {
    margin-right:15px;
    margin-left:15px;
}

.pp_frame {
    height:165px;
    width:165px;
    background:white;
    border-radius: 100px; 
    display:flex;
    justify-content:center;
    align-items:center;
    box-shadow:
    0.7px 1.8px 5.3px rgba(0, 0, 0, 0.008),
    2.5px 6px 17.9px rgba(0, 0, 0, 0.035),
    11px 27px 80px rgba(0, 0, 0, 0.1);
}

.pp {
    height: 150px;
    width:150px;
    background:gray;
    border-radius: 100px;
}

.about {
    display:flex;
    /* justify-content:center; */
    height:420px;
    background-color:white;
    max-width:100%;
    padding:0px;
    z-index:2;
}

.about_box {
    height:100%;
    width:100%;
    
    margin:0px;
}

.about_head {
    margin-top:50px;
    margin-left:50px;
    font-weight:400;
}

.about_head::after {
    content:"";
    display:block;
    margin-top:10px;
    width:30px;
    height:1.5px;
    background:rgb(248,92,112);
}

.about_content {
    margin-left:50px; 
    margin-top:45px;
}

.cv_button {
    width:140px;
    height:40px;
    border: 1px solid rgb(248,92,112);
    color:rgb(248,92,112);
    font-size:1,2em;
    font-weight:350;
    background:transparent;
    border-radius:5px;
    margin-left:50px;
    margin-top:30px;
}

.main_body {
    height:fit-content;
    width:100%;
    background-color:white;
    padding:0px;
}

.personal_info {
    padding:0px;

}

.personal_info > li {
    margin-bottom:9px;
    font-size:0.8em;
    list-style-type:none;
    font-weight:600;  
}

.personal_info > li > div {
    display:inline-block;
    font-weight:400;
    color: rgba(12, 11, 11, 0.75);
}

.expertise {
    font-size:1em;
    font-weight:450;
    border:none;
}

.expertise_content {
    border-bottom: 1px solid rgba(12, 11, 11, 0.2);
    padding-bottom:20px;
    margin-bottom:20px;
    display:inline-block;
    
}

.icon {
    color:rgb(248,92,112);
    font-size:1.5em;
    margin:10px;
    position:relative;
    top:10px;
    z-index:1;
}

.resume_heading {
    padding-top:120px;
    margin-left:210px;
    font-size:2em;
    font-weight:400;
    color:rgb(248,92,112);
}

.resume_heading > div {
    display:inline-block;
}

.resume_box {
    /* margin-left:210px; */
    margin-top:80px; 
}

.resume_content {
    border: 1px solid rgba(12, 11, 11, 0.2);
    width:350px;
    height:350px;
    /* margin-right:20px; */
}

.resume_content > h3 {
    font-weight:400;
    margin-top:20px;
    margin-left:20px;
    font-size:1.7em;
}

.resume_content > h3::after {
    content:"";
    display:block;
    margin-top:10px;
    width:30px;
    height:1.5px;
    background:rgb(248,92,112);
}

.exp_content {
    margin:15px 10px;
    color: rgba(12, 11, 11, 0.75);
    font-size:0.95em;
    padding:15px;
    border-bottom:1px solid rgba(12, 11, 11, 0.2);
}

.exp_content > h5 {
    color:rgb(248,92,112);
    font-weight:400;
}

.skills_bar {
    padding:10px;
    
}

.row_2 {
    margin-top:12px;
}

.bar {
    width:100%;
    background-color:rgb(234,240,252);
    height:5px;
    border-radius:100px;
    margin-top:2px;
}

.bar div {
    background-color:rgb(248,92,112);
    height:5px;
    border-radius:100px;
}

.freelance {
    height:175px;
    background:rgba(52,58,64,255);
    margin-top:50px;
    width:100%;
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
}

.freelance > h2 {
    color:white;
    font-weight:400;
    font-size:2em;
    margin-bottom:40px;
}

.hire_me {
    border:none;
    border-radius:5px;
    background:rgba(248,92,112,255);
    padding:5px;
    color: rgba(52,58,64,255);
    width:120px;
    height:40px;
}

.portfolio {
    display:grid;
    height:700px;
    background:white;
    border:1px solid rgba(12, 11, 11, 0.2);
    grid-template-rows: 285px 285px 285px;
    grid-template-columns: 330px 330px 330px;
    /* justify-content:space-evenly;
    align-content:space-evenly; */
    grid-gap:20px 20px;
}

.portfolio_item {
    border:1px solid rgba(12, 11, 11, 0.2);
    margin-top:15px;
}